<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Adios, <%= @user.firstname %></h1>
    <p>
      An administrator has deleted your account!</br>
      Sorry.<br>
    </p>
  </body>
</html>