
<% if current_user %>
	<h1>Welcome back, <%= current_user.firstname %>!</h1>
<% end %>
<hr>
<!-- <div class="col-md-2">
	<h3>Ranking</h3>
</div> -->
<div class="col-md-4">
	<h3>Title</h3>
</div>
<div class="col-md-4">
	<h3>Director</h3>
</div>
<div class="col-md-2">
	<h3>Release Date</h3>
</div>
<div class="col-md-2">
	<h3>Rating</h3>
</div>

<% @movies.each do |movie| %>
	<%= render "movies", :movie => movie %>
<% end %>
